In [3]:
import pandas as pd   
import numpy as np 
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA 

from sktime.forecasting.base import ForecastingHorizon
from sktime.forecasting.theta import ThetaForecaster
from sktime.split import temporal_train_test_split
from sktime.performance_metrics.forecasting import mean_absolute_percentage_error 

import xgboost as xgb 
from xgboost import XGBRegressor
from xgboost import plot_importance

from tsfresh import extract_features, extract_relevant_features
from tsfresh.feature_extraction import ComprehensiveFCParameters, extract_features 
from tsfresh.utilities.dataframe_functions import roll_time_series

In [4]:
df = pd.read_csv('NairobiAir.csv')
df.head()

,ID,SITE_ID,SITE_LATITUDE,SITE_LONGITUDE,CITY,COUNTRY,DATE,HOUR,SULPHURDIOXIDE_SO2_COLUMN_NUMBER_DENSITY,SULPHURDIOXIDE_SO2_COLUMN_NUMBER_DENSITY_AMF,...,CLOUD_CLOUD_TOP_HEIGHT,CLOUD_CLOUD_BASE_PRESSURE,CLOUD_CLOUD_BASE_HEIGHT,CLOUD_CLOUD_OPTICAL_DEPTH,CLOUD_SURFACE_ALBEDO,CLOUD_SENSOR_AZIMUTH_ANGLE,CLOUD_SENSOR_ZENITH_ANGLE,CLOUD_SOLAR_AZIMUTH_ANGLE,CLOUD_SOLAR_ZENITH_ANGLE,PM2_5
0,id_91jrbd3haq,644845d4cc09460029083b6e,-1.307282,36.914272,Nairobi,Kenya,2023-05-01,10,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.306000
1,id_jzwj7i7um7,62fe1f3d365de1001e86eb55,-1.224292,36.805005,Nairobi,Kenya,2023-05-01,10,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13.995632
2,id_l8q4k7isps,6246f308db9c64001e483ffe,-1.235120,36.812150,Nairobi,Kenya,2023-05-01,10,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.810996
3,id_kqv0uxt604,6246f033b0d23c001ec6440c,-1.239630,36.793760,Nairobi,Kenya,2023-05-01,10,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.123721
4,id_u50xvtjcas,6448483a87020e00297bee3b,-1.243396,36.886487,Nairobi,Kenya,2023-05-01,10,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.731000